
  .paragraph{
      color: red;
      padding-bottom: 10px;
      background-color: white;
  }
  

  .ResetForm {
    padding: 20px 0;
    position: relative;
    background-color: #50a3a2;

  }

  
  .forgotPasswordContainer {
    margin: 0% auto;
    text-align: center;
    background-color: white;

  }
  
  .forgotPasswordContainer h1 {
    font-size: 40px;
    font-weight: 200;
    background-color: white;
  }

  .forgot-password-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error-info{
    color: 	#C30000;
    padding-bottom: 7px;
  }
  
  .reset-input {
    border: 1px solid black;
    background-color: rgba(252, 252, 252, 0.2);
    border-radius: 5px;
    padding: 10px 10px;

    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 400;
   
  }
  .reset-input-box{
    position: relative;
    display: flex;
       
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    max-width: 250px;
    transition: margin-top 200ms ease-in;

  }

  .reset-input:focus{
    outline: none;
    border: 1px solid rgb(25, 136, 180);
    box-shadow: rgb(190, 235, 253) 0px 0px 0px 3px;
   }


  .reset-input-label{
      color: #575756;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      position: absolute;
      
      cursor: text;
      z-index: 11;
      pointer-events: none; 
      padding: none;
      width: fit-content;
      height: fit-content;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


      transition: top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in,
        transform 200ms ease-in; 

  }
  .reset-input:focus ~ .reset-input-label,
  .reset-input:not(:placeholder-shown).reset-input:not(:focus) ~ .reset-input-label{
       top: 0;
       left: 0.7rem;
       font-size: 12px;
       transform: translate(0%, 0%);
  }
    

  .reset-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-button-box {
    margin-top: 35px;
    min-height: 250px;
  }
 
  
 .reset-button {
  appearance: none;
    outline: 0;
    background-color: #41B3A3;
    border: 0;
    display:inline-block;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }
  .reset-button:hover{
    background-color: #3aa092;
  }

  .forgot-button {
    appearance: none;
     outline: 0;
     background-color: #41B3A3;
     border: 0;
     display:inline-block;
     padding: 10px 15px;
     color: white;
     border-radius: 3px;
     width: 250px;
     font-size: 18px;
     cursor: pointer;
     margin-left: 5px;
      margin-right: 5px;
  }
  .forgot-button:hover{
    background-color: #3aa092;
  }

  .reset-header{
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 36px;
    color:black;
    background-color: white;

  }